.design {
    padding: 85px 0 123px;

    @include _768 {
        padding: 50px 0 70px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;

        @include _992 {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }

        @include _768 {
            grid-gap: 10px;
        }

        @include _576 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__filter {
        margin-bottom: 74px;

        @include _992 {
            margin-bottom: 50px;
        }

        @include _768 {
            margin-bottom: 20px;
        }
    }
}