.design {
    padding: 85px 0 123px;

    &__filter-btns {
        margin-bottom: 85px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
    }

    ul.design__filter-btns {
        margin-bottom: 74px;
    }
}