.features {
    &__wrapper {
        background-color: #fef7f0;
    }

    &__inner {
        max-width: 1470px;
        margin: 0 auto;
    }

    &__items {
        min-height: 171px;
        display: flex;
        align-items: center;
    }

    &__item {
        position: relative;
        padding-left: 75px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 171px;
        width: 33.33%;

        &--clock {
            border-right: 1px solid #e8e4df;
            width: 28.5%;
        }

        &--van {
            border-right: 1px solid #e8e4df;
            margin-left: auto;
            width: 30%;
        }

        &--payment {
            margin-left: auto;
            max-width: 286px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 48px;
            left: 0;
            width: 55px;
            height: 55px;
            background-repeat: no-repeat;
        }

        &--clock::before {
            background-image: url('../images/features/icon-clock.svg');
        }

        &--van::before {
            background-image: url('../images/features/icon-van.svg');
        }

        &--payment::before {
            background-image: url('../images/features/icon-payment.svg');
        }
    }

    &__title {
        @extend %dmsans-700;
        font-size: 18px;
        color: #414141;
    }

    &__text {
        color: #585858;
        @extend %dmsans-400;
    }
}