.news {
    padding-top: 110px;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        margin-right: 30px;
    }

    &__items:last-child {
        margin-right: 0;
    }

    &__link {
        @extend %dmsans-700;
        color: $dark-text;
        position: relative;
        padding-right: 25px;

        &::after {
            content:'';
            position: absolute;
            width: 7px;
            height: 11px;
            background-image: url('../../images/news/icon-news.svg');
            background-repeat: no-repeat;
            top: 9px;
            right: 0;
        }
    }
}

