.news {
    padding-top: 100px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 33px;

        @include _576 {
            display: block;
            text-align: center;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }

        @include _768 {
            display: block;
        }

    }

    &__link {
        @extend %dmsans-700;
        color: $dark-text;
        position: relative;
        padding-right: 25px;
        @extend %animation-menu;

        &::after {
            content: '';
            position: absolute;
            width: 7px;
            height: 11px;
            background-image: url('../../images/news/icon-news.svg');
            background-repeat: no-repeat;
            top: 9px;
            right: 0;

            @include _576 {
                top: 5px;
                right: 7px;
            }
        }
    }

    @include _992 {
        padding-top: 80px;
    }

    @include _992 {
        padding-top: 50px;
    }
}