.partners-slider {
    padding: 283px 0 59px;
    margin-top: -170px;
    background-color: #fef7f0;

    ul.partners-slider__inner {
        max-width: 1045px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}