.partners-slider {
    padding: 283px 0 59px;
    min-height: 437px;
    margin-top: -168px;
    background-color: #fef7f0;

    ul.partners-slider__inner {
        max-width: 1045px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1200px) {
            max-width: 900px;
        }

        @media (max-width: 992px) {
            max-width: 600px;
        }

        @media (max-width: 768px) {
            max-width: 360px;
        }
    }

    &__img {
        max-width: 200px;
        max-height: 100px;
    }

    @media (max-width: 1200px) {
        margin-top: -178px;
    }

    @media (max-width: 768px) {
        padding: 240px 0 40px;
        margin-top: -175px;
    }

    @media (max-width: 576px) {
        display: none;
    }
}