.products-slider {
    &__inner {
        background-color: $accent-color;
        position: relative;
    }

    &__item {
        position: relative;
        min-height: 822px;
        background-color: $accent-color;
        display: flex;

        @media (max-width: 1800px) {
            min-height: 100vh;
        }
    }

    &__item-inner {
        display: flex;

        @media (max-width: 768px) {
            display: block;
        }
    }

    &__desc {
        max-width: 418px;
        margin-top: 218px;
        margin-left: 281px;

        @media (max-width: 1800px) {
            position: absolute;
            top: 25%;
            left: 0;
            transform: translateY(-50%);
        }

        @media (max-width: 1600px) {
            left: -224px;
        }

        @media (max-width: 1200px) {
            left: -255px;
        }

        @media (max-width: 992px) {
            left: -253px;
        }
    }

    &__title {
        @extend %rubik-500;
        display: inline-block;
        font-size: 72px;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 20px;

        @media (max-width: 992px) {
            font-size: 68px;
        }

        @media (max-width: 768px) {
            font-size: 58px;
        }

        @media (max-width: 576px) {
            font-size: 46px;
        }
    }

    &__text {
        max-width: 370px;
        font-size: 18px;
        line-height: 1.7;
        color: #436372;
        margin-bottom: 38px;

        @media (max-width: 992px) {
            font-size: 16px;
            max-width: 300px;
        }

        @media (max-width: 768px) {
            max-width: 250px;
        }
    }

    &__img {
        max-width: 755px;
        max-height: 634px;
        margin-top: 96px;
        margin-left: 114px;

        @media (max-width: 1800px) {
            position: absolute;
            top: 45%;
            left: 43%;
            transform: translateY(-50%);
        }

        @media (max-width: 1600px) {
            left: 27%;
        }

        @media (max-width: 1200px) {
            max-width: 580px;
            left: 29%;
        }

        @media (max-width: 992px) {
            left: 30%;
            max-width: 420px;
        }

        @media (max-width: 768px) {
            left: 27%;
            max-width: 300px
        }
    }

    &__link {
        display: inline-block;
        font-size: 15px;
        color: #ffffff;
        padding: 15px 21px 16px 28px;
        background-color: $light-grey;
        @extend %focus;
        @extend %animation-button-grey;

        @media (max-width: 576px) {
            padding: 15px 20px 16px 20px;
        }
    }

    &__arrow {
        margin-left: 55px;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 50%;
        bottom: 46px;
        transform: translateX(-50%);

        & li:not(:last-child) {
            margin-right: 10px;
        }

        & button {
            cursor: pointer;
            background-color: #fde3cc;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: 11px;
            color: $dark-grey;
            @extend %rubik-500;
            padding: 0;
            outline: transparent;
            border: 1px solid transparent;
            transition: border .5s, background-color .5s, color .5s;
        }

        & button:focus {
            border: 1px solid $orange;
        }

        & button:hover {
            background-color: #f4c398;
            color: #fff;
        }

        & button:active {
            background-color: #f6a965;
            color: #fff;
        }
    }

    .slick-active button {
        background-color: #fff;
    }

    .slick-slide img {
        @media (max-width: 576px) {
            display: none;
        }
    }
}