.products {
    padding: 55px 0 80px;
    background-color: #f9f9f9;

    &__title {
        margin-bottom: 10px;
    }

    &__filter-btns {
        margin-bottom: 70px;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .mixitup-control-active {
        color: $black;
    }
}