.products {
    &__inner {
        padding: 50px 0 0;
        margin-bottom: 180px;

        @media (max-width: 992px) {
            margin-bottom: 60px;
        }

        @media (max-width: 768px) {
            margin-bottom: 90px;
        }
    }

    &__title {
        margin-bottom: 10px;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 35px;

        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }

        @media (max-width:576px) {
            display: block;
        }
    }

    &__filter {
        margin-bottom: 70px;

        @media (max-width: 992px) {
            margin-bottom: 50px;
        }

        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }
}

.special-product {
    &__items {
        display: flex;

        @media (max-width: 768px) {
            display: block;
        }

        @media (max-width: 576px) {
            display: none;
        }
    }

    &__item {
        width: 50%;
        margin-right: 30px;
        min-height: 390px;
        position: relative;
        background-color: #feefe2;
        display: flex;

        &:last-child {
            margin-right: 0;
        }

        @media (max-width: 1200px) {
            margin-right: 10px;
        }

        @media (max-width: 992px) {
            display: block;
        }

        @media (max-width: 768px) {
            width: 100%;
            display: flex;
            margin-bottom: 30px;
            min-height: 200px;
            padding: 10px 0 10px 0;
        }
    }

    &__img {
        max-height: 405px;
        max-width: 233px;
        object-fit: contain;
        margin-left: 134px;
        margin-top: -101px;

        @media (max-width: 1500px) {
            margin-left: 30px;
        }

        @media (max-width: 1200px) {
            max-width: 150px;
            margin-left: 15px;
        }

        @media (max-width: 992px) {
            max-width: 120px;
            margin: -30px auto 20px auto;
        }
    }

    &__content {
        margin-left: 16px;
        margin-top: 98px;
        max-width: 348px;

        @media (max-width: 1500px) {
            margin-right: 10px;
        }

        @media (max-width: 992px) {
            margin: 20px auto 20px auto;
            text-align: center;
        }
    }

    &__title {
        @extend %dmsans-700;
        font-size: 26px;
        line-height: 1.2;
        margin-bottom: 18px;

        @media (max-width: 1200px) {
            font-size: 24px;
        }

        @media (max-width: 992px) {
            font-size: 22px;
        }
    }

    &__text {
        margin-bottom: 27px;

        @media (max-width: 768px) {
            margin-bottom: 10px;
        }
    }

    &__link {
        display: inline-block;
        padding: 15px 21px 15px 19px;
        border: 1px solid #b3b7b5;
        border-radius: 5px;
        font-size: 15px;
        @extend %rubik-500;
        color: #436372;
        @extend %focus;
        @extend %animation-button-light;

        & path {
            fill: #436372;
            transition: fill .5s;
        }
    
        &:hover path {
            fill: #fff;
        }

        @media (max-width: 768px) {
            padding: 10px 20px 10px 20px;
        }
    }

    &__arrow {
        margin-left: 42px;
    }
}