.products {
    &__inner {
        //background-color: #f9f9f9;
        padding: 55px 0 0;
        margin-bottom: 144px;
    }
    

    &__title {
        margin-bottom: 10px;
    }

    &__filter-btns {
        margin-bottom: 70px;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .mixitup-control-active {
        color: $black;
    }
}

.special-product {
    &__items {
        display: flex;
        
    }

    &__item {
        width: 50%;
        margin-right: 30px;
        min-height: 390px;
        position: relative;
        background-color: #feefe2;
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__img {
        position: absolute;
        top: -96px;
        left: 137px;

        &--wide {
            top: -93px;
            left: 149px;
        }
    }

    &__content {
        margin-left: 388px;
        margin-top: 98px;
        max-width: 348px;

        &--wide {
            margin-left: 434px;
            margin-right: 147px;
            margin-top: 87px;
        }
    }

    &__title {
        @extend %dmsans-700;
        font-size: 26px;
        line-height: 1.2;
        margin-bottom: 18px;

        &--wide {
            margin-bottom: 9px;
        }
    }

    &__text {
        margin-bottom: 27px;
    }

    &__link {
        display: inline-block;
        padding: 15px 21px 15px 19px;
        border: 1px solid #b3b7b5;
        border-radius: 5px;
        font-size: 15px;
        @extend %rubik-500;
        color: #436372;
    }

    &__link path {
        fill: #436372;
    }

    &__arrow {
        margin-left: 42px;
    }
}
