.slider {
    &__inner {
        background-color: $accent-color;
        min-height: 822px;
        position: relative;
    }

    &__item {
        min-height: 822px;
        position: relative;
    }

    &__desc {
        max-width: 418px;
        margin-top: 216px;
    }

    &__title {
        @extend %rubik-500;
        display: inline-block;
        font-size: 70px;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 26px;
        letter-spacing: 1.2px;
    }

    &__text {
        max-width: 370px;
        font-size: 18px;
        line-height: 1.7;
        color: #436372;
        margin-bottom: 38px;
        letter-spacing: 0.1px;
    }

    &__img {
        position: absolute;
        top: 99px;
        right: 188px;
    }

    &__link {
        display: inline-block;
        font-size: 15px;
        color: #ffffff;
        padding: 16px 22px 16px 28px;
        background-color: $light-grey;
        outline: transparent;
        border: 1px solid transparent;
        transition: background-color .5s;

        &:hover,
        &:active {
            background-color: $dark-blue;
        }

        &:focus {
            border: 1px solid $dark-blue;
        }
    }

    &__arrow {
        margin-left: 55px;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 50%;
        bottom: 46px;
        transform: translateX(-50%);
    }

    .slick-dots li:not(:last-child) {
        margin-right: 10px;
    }

    .slick-dots button {
        background-color: #fde3cc;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 11px;
        color: $dark-grey;
        @extend %rubik-500;
        padding: 0;
        border: none;
        outline: transparent;
    }

    .slick-dots button:focus {
        border: 1px solid #d6af8d;

    }

    .slick-dots .slick-active button {
        background-color: #fff;
    }
}