.slider {
    &__inner {
        background-color: $accent-color;
        min-height: 822px;
        position: relative;

        @media (max-width: 1200px) {
            min-height: calc(100vh - 171px);
        }

        @media (max-width: 992px) {
            min-height: calc(100vh - 171px);
        }
    }

    &__item {
        //min-height: 822px;
        position: relative;
    }

    &__desc {
        max-width: 418px;
        margin-top: 218px;

        @media (max-width: 992px) {
            margin-top: 155px;
        }
    }

    &__title {
        @extend %rubik-500;
        display: inline-block;
        font-size: 72px;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 20px;

        @media (max-width: 992px) {
            font-size: 64px;
        }
    }

    &__text {
        max-width: 370px;
        font-size: 18px;
        line-height: 1.7;
        color: #436372;
        margin-bottom: 38px;

        @media (max-width: 992px) {
            font-size: 16px;
            max-width: 300px;
        }
    }

    &__img {
        position: absolute;
        top: 99px;
        right: 188px;

        @media (max-width: 1500px) {
            right: 35px;
        }

        @media (max-width: 1200px) {
            max-width: 550px;
            top: 200px;
            right: 20px;
        }

        @media (max-width: 992px) {
            max-width: 400px;
            top: 200px;
            right: 20px;
        }
    }

    &__link {
        display: inline-block;
        font-size: 15px;
        color: #ffffff;
        padding: 15px 21px 16px 28px;
        background-color: $light-grey;
        @extend %focus;
        @extend %animation-button-grey;
    }

    &__arrow {
        margin-left: 55px;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 50%;
        bottom: 46px;
        transform: translateX(-50%);

        & li:not(:last-child) {
            margin-right: 10px;
        }
    
        & button {
            cursor: pointer;
            background-color: #fde3cc;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: 11px;
            color: $dark-grey;
            @extend %rubik-500;
            padding: 0;
            outline: transparent;
            border: 1px solid transparent;
            transition: border .5s,
                        background-color .5s,
                        color .5s;
        }
    
        & button:focus {
            border: 1px solid $orange;
        }
    
        & button:hover {
            background-color: $light-grey;
            color: #fff;
        }
    }

    .slick-active button {
        background-color: #fff;
    }
}