$accent-color: #fcd7b6;
$grey: #7b7b7b;
$light-grey: #a3bbc8; 
$dark-grey: #243f4d;
$dark-text: #262626;
$black: #191919;
$dark-blue: #314f5f;
$orange: #f99036;

%dmsans-400 {
    font-family: 'DMSans', sans-serif;
    font-weight: 400;
}

%dmsans-500 {
    font-family: 'DMSans', sans-serif;
    font-weight: 500;
}

%dmsans-700 {
    font-family: 'DMSans', sans-serif;
    font-weight: 700;
}

%rubik-400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

%animation-menu {
    border: 1px solid transparent;
    outline: transparent;
    transition: color .5s,
                border .5s;

    &:focus {
        border: 1px solid $orange;
    }

    &:hover {
        color: $black;
        border-bottom: 1px solid $black;
    }

    &:active {
        color: $orange;
    }
}

%animation-button-grey {
    outline: transparent;
    border: 1px solid transparent;
    transition: border .5s,
                background-color .5s;

    &:focus {
        border: 1px solid $black;
    }

    &:hover {
        background-color: $dark-blue;
    }

    &:active {
        background-color: $black;
    }
}

%animation-button-light {
    outline: transparent;
    transition: color .5s,
                background-color .5s;
                color: .5s;

    &:focus {
        border: 1px solid $orange;
    }

    &:hover {
        background-color: $light-grey;
        color: #fff;
    }

    &:active {
        background-color: $black;
        color: #fff;
    }
}

%animation-link {
    border: 1px solid transparent;
    outline: transparent;
    transition: color .5s,
                border .5s;

    &:focus {
        border: 1px solid $orange;
    }

    &:hover {
        color: $black;
    }

    &:active {
        color: $orange;
    }
}

%animation-icon-link {
    border: 1px solid transparent;
    outline: transparent;
    transition: border .5s,
                background-color .5s;

    &:focus {
        border: 1px solid $orange;
    }

    &:active {
        background-color: $accent-color;
    }
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
    @return m#{i}x(#{$numbers});
}


