$accent-color: #fcd7b6;
$grey: #7b7b7b;
$light-grey: #a3bbc8;
$dark-grey: #243f4d;
$dark-text: #262626;
$black: #191919;
$dark-blue: #314f5f;
$orange: #f99036;

%dmsans-400 {
    font-family: 'DMSans', sans-serif;
    font-weight: 400;
}

%dmsans-500 {
    font-family: 'DMSans', sans-serif;
    font-weight: 500;
}

%dmsans-700 {
    font-family: 'DMSans', sans-serif;
    font-weight: 700;
}

%rubik-300 {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

%rubik-400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

%rubik-700 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

%poppins-600 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

%checkbox-hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}

%button {
    display: inline-block;
    font-size: 15px;
    color: #ffffff;
    padding: 15px 21px 16px 28px;
    background-color: $light-grey;
}

%focus {
    outline: transparent;
    border: 1px solid transparent;

    &:focus {
        border: 1px solid $orange;
    }
}

%animation-menu {
    @extend %focus;
    transition: color .5s, border .5s;

    &:hover {
        color: $black;
        border-bottom: 1px solid $black;
    }

    &:active {
        color: $orange;
    }
}

%animation-link {
    @extend %focus;
    transition: color .5s, border .5s;

    &:hover {
        color: $accent-color;
    }

    &:active {
        color: $orange;
    }
}

%animation-icon-link {
    @extend %focus;
    transition: background-color .5s, border .5s;

    &:active {
        background-color: $accent-color;
    }
}

%animation-button-grey {
    @extend %focus;
    transition: background-color .5s, border .5s;
    
    &:hover {
        background-color: $dark-blue;
    }

    &:active {
        background-color: $black;
    }
}

%animation-button-light {
    @extend %focus;
    transition: color .5s, background-color .5s, border .5s;

    &:hover {
        background-color: $light-grey;
        color: #fff;
    }

    &:active {
        background-color: $black;
        color: #fff;
    }
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}