.card-news {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    position: relative;

    &__img-link {
        display: block;
        background-color: #e1e1e1;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 100%;
        height: 250px;
    }

    @include _1200 {
        max-width: 32%;
    }

    @include _768 {
        max-width: 400px;
        margin: 0 auto 30px auto;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        object-fit: cover;
    }

    &__link {
        display: block;
        padding: 3px 31px;
        background-color: $light-grey;
        text-transform: uppercase;
        color: #fff;
        border-radius: 25px;
        font-size: 14px;
        position: absolute;
        top: 231px;
        left: 30px;
        cursor: pointer;
        @extend %animation-button-grey;
    }

    &__content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: 32px 18px 20px 30px;
        background-color: #fff;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        border-radius: 5px;

        @include _992 {
            padding: 20px 10px 20px 10px;
        }

        @include _768 {
            padding: 40px 20px 40px 20px;
        }

        @include _576 {
            padding: 40px 20px 20px 20px;
        }
    }

    &__desc {
        flex: 1 1 auto;
        @extend %dmsans-700;
        font-size: 18px;
        line-height: 1.3;
        color: $dark-text;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 10px;
        margin-bottom: 13px;
        cursor: pointer;
        @extend %animation-link;
    }

    &__info {
        font-size: 12px;
        color: #222933;
        text-transform: uppercase;
    }

    &__item {
        margin-right: 25px;
        color: #222933;
        padding-left: 16px;
        position: relative;

        &:last-child {
            margin: 0;
        }

        &::before {
            content: '\2022';
            position: absolute;
            font-size: 12px;
            color: $dark-text;
            left: 5px;
        }

        @include _992 {
            display: block;
        }

        @include _768 {
            display: inline;
        }

        @include _576 {
            display: block;
            margin-bottom: 10px;

            &:last-child {
                margin: 0;
            }
        }
    }
}