.filter-price {
    margin-bottom: 73px!important;

    &__label {}

    &__box {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }


    &__postfix {
        margin-left: -4px;
    }

    .irs-min,
    .irs-max {
        display: none;
    }

    .irs--flat .irs-line {
        top: 15px;
        width: 270px;
        height: 3px;
        background-color: #c2d2db;
    }

    .irs--flat {
        height: 38px;
    }

    .irs--flat .irs-bar {
        top: 14px;
        width: 94px;
        height: 4px;
        background-color: $light-grey;
    }

    .irs--flat .irs-handle {
        top: 9px;
        width: 15px;
        height: 15px;
        background-color: $light-grey;
    }

    .irs--flat .irs-handle>i:first-child {
        display: none;
    }

    .irs--flat .irs-from,
    .irs--flat .irs-to {
        display: none;
    }
  
    


}