.footer {
    &__top {
        padding: 80px 0 63px;
    }

    &__logo {
        display: inline-block;
        margin-bottom: 25px;
    }

    &__items {
        display: flex;
        font-size: 14px;
        line-height: 1.7;
        color: $grey;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 299px;

        &--services {
            max-width: 300px;
        }

        &--form {
            max-width: 270px;
        }
    }

    &__item-list {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__connection {
        max-width: 200px;
    }

    &__title {
        margin-bottom: 14px;
        padding-top: 15px;
        font-size: 16px;
        color: #1f2044;
        @extend %dmsans-700;
        text-transform: uppercase;
    }

    &__text {
        margin-bottom: 34px;
    }

    &__bottom {
        padding: 35px 0 27px;
        border-top: 1px solid $light-grey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        color: $grey;
    }

    &__bottom-list {
        display: flex;
    }

    &__bottom-item {
        padding: 0 14px;
        border-right: 1px solid $grey;
        line-height: 1.2;

        &:last-child {
            padding-right: 0;
            border-right: none;
        }
    }

    &__link,
    &__bottom-link {
        color: $grey;
        @extend %focus;
        @extend %animation-menu;
    }
}

.connection {
    font-style: normal;

    &__item {
        display: block;
        color: $grey;
        margin-bottom: 9px;
        cursor: pointer;
        @extend %focus;
        @extend %animation-link;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.subscribe-form {
    &__field {
        max-width: 170px;
        width: 100%;
        background-color: #fef7f0;
        height: 40px;
        padding: 0 10px 0 16px;
        cursor: pointer;
        @extend %focus;
        transition: background-color .5s;

        &::placeholder {
            font-size: 12px;
            @extend %dmsans-400;
            color: #234969;
        }

        &:hover {
            background-color: #fce6cf;
        }
    }

    &__btn {
        height: 41px;   
        background-color: $light-grey;
        padding: 0 17px 0 16px;
        font-size: 14px;
        @extend %dmsans-400;
        color: #fff;
        cursor: pointer;
        margin-left: -4px;
        @extend %focus;
        @extend %animation-button-grey;
    }
}