.footer {
    &__top {
        padding: 80px 0 63px;

        @media (max-width: 992px) {
            padding: 60px 0 40px;
        }
    }

    &__logo {
        display: inline-block;
        margin-bottom: 25px;

        @media (max-width: 576px) {
            margin: 0 auto 20px auto;
        }
    }

    &__items {
        display: flex;
        font-size: 14px;
        line-height: 1.7;
        color: $grey;

        @media (max-width: 992px) {
            flex-wrap: wrap;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 299px;

        &--contact {
            @media (max-width: 1200px) {
                max-width: 33%;
            }
        }
        
        &--services {
            max-width: 300px;
        }

        &--services, &--account {
            @media (max-width: 1200px) {
                max-width: 21%;
            }
        }
        
        @media (max-width: 992px) {
            max-width: 33.33%;
            margin: 0 auto;
            align-items: center;
        }

        @media (max-width: 576px) {
            max-width: 100%;
            text-align: center;
        }

        
        &--form {
            max-width: 270px;

            @media (max-width: 992px) {
                max-width: 800px;
                order: -1;
                margin: 0 auto 40px auto;
                text-align: center;
            }
        }
    }

    &__item-list {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__connection {
        max-width: 200px;

        @media (max-width: 576px) {
            margin: 0 auto;
        }
    }

    &__title {
        margin-bottom: 14px;
        padding-top: 15px;
        font-size: 16px;
        color: #1f2044;
        @extend %dmsans-700;
        text-transform: uppercase;

        @media (max-width: 576px) {
            margin-bottom: 10px;
        }
    }

    &__text {
        margin-bottom: 34px;

        @media (max-width: 992px) {
            margin-bottom: 15px;
        }
    }

    &__bottom {
        padding: 35px 0 27px;
        border-top: 1px solid $light-grey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        color: $grey;

        @media (max-width: 992px) {
            padding: 30px 0 30px;
        }

        @media (max-width: 768px) {
            padding: 15px 0 15px;
        }
    }

    &__copy {
        @media (max-width: 768px) {
            margin: 0 auto;
        }

        @media (max-width: 576px) {
            text-align: center;
        }
    }

    &__bottom-list {
        display: flex;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__bottom-item {
        padding: 0 14px;
        border-right: 1px solid $grey;
        line-height: 1.2;

        &:last-child {
            padding-right: 0;
            border-right: none;
        }
    }

    &__link,
    &__bottom-link {
        color: $grey;
        @extend %focus;
        @extend %animation-menu;
    }
}

.connection {
    font-style: normal;

    &__item {
        display: block;
        color: $grey;
        margin-bottom: 9px;
        cursor: pointer;
        @extend %focus;
        @extend %animation-link;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.subscribe-form {

    @media (max-width: 992px) {
        max-width: 392px;
        width: 100%;
        margin: 0 auto
    }

    @media (max-width: 576px) {
        max-width: 250px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
    }


    &__field {
        max-width: 170px;
        width: 100%;
        background-color: #fef7f0;
        height: 40px;
        padding: 0 10px 0 16px;
        cursor: pointer;
        @extend %focus;
        transition: background-color .5s;

        @media (max-width: 992px) {
            max-width: 265px;
        }

        @media (max-width: 992px) {
            margin-bottom: 10px;
        }

        &::placeholder {
            font-size: 12px;
            @extend %dmsans-400;
            color: #234969;

            @media (max-width: 576px) {
                text-align: center;
            }
        }

        &:hover {
            background-color: #fce6cf;
        }
    }

    &__btn {
        height: 41px;   
        background-color: $light-grey;
        padding: 0 17px 0 16px;
        font-size: 14px;
        @extend %dmsans-400;
        color: #fff;
        cursor: pointer;
        margin-left: -4px;
        @extend %focus;
        @extend %animation-button-grey;

        @media (max-width: 992px) {
            padding: 0 30px 0 30px;
        }

        @media (max-width: 576px) {
            width: 100%;
            margin-left: 0;
        }
    }
}