.header {

    @media (max-width: 1800px) {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            z-index: 2;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 144px;
        position: relative;

        @media (max-width: 1800px) {
            padding: 0 15px 0 15px;
            height: 110px;
        }

        @media (max-width: 1200px) {
            height: 80px;
        }

        @media (max-width: 576px) {
            height: 70px;
            justify-content: start;
        }
    }

    &__logo {
        margin-right: 157px;
        z-index: 3;
        flex: 0 0 139px;

        @media (max-width: 1200px) {
            margin: 0;
            z-index: 3;
        }

        @media (max-width: 576px) {
            margin-left: 100px;
        }
    }
}

.menu {
    padding-bottom: 5px;

    @media (max-width: 1200px) {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        padding-top: 100px;
        transition: all .5s;
        z-index: 1;
        margin: 0 auto;

        &.active {
            top: 0;
        }
    }

    &__burger {
        display: none;

        @media (max-width: 1200px) {
            display: block;
            position: relative;
            width: 41px;
            height: 41px;
            z-index: 3;

            &::before,
            &::after {
                content: '';
                background-color: #000;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all .5s;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            & span {
                background-color: #000;
                position: absolute;
                width: 100%;
                height: 2px;
                top: 18px;
                transition: all .5s;
            }

            &.active::before {
                transform: rotate(45deg);
                top: 19px;
            }

            &.active::after {
                transform: rotate(-45deg);
                bottom: 19px;
            }

            &.active span {
                transform: scale(0);
            }
        }


    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;

        @media (max-width: 1200px) {
            display: block;
        }
    }

    &__item {
        margin-right: 32px;

        &:last-child {
            margin-right: 0;
        }

        @media (max-width: 1200px) {
            margin: 10px 0 10px 50px;
        }
    }

    &__link {
        color: #436372;
        @extend %rubik-500;
        @extend %animation-menu;
        font-size: 15px;
        line-height: 1.25;
        padding-bottom: 1px;
        position: relative;

        @media (max-width: 1200px) {
            display: block;
            padding: 15px 0;
        }
    }
}

.user-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;

    @media (max-width: 1200px) {
        z-index: 3;
    }

    &__link {
        @extend %animation-icon-link;
        position: relative;
        width: 51px;
        height: 51px;
        border-radius: 50%;
        background-color: #edf1f4;

        &::before {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &--search {
            &::before {
                background-image: url(../images/icons/icon-search.svg);
                width: 16px;
                height: 16px;
                top: 53%;
            }

            &:hover {
                background-color: #b0c1cf;
            }


        }

        &--icon {
            background-color: $light-grey;

            &::before {
                background-image: url(../images/icons/icon.svg);
                width: 20px;
                height: 20px;
            }

            &:hover {
                background-color: #60899f;
            }
        }
    }

    &__box-link {
        @extend %animation-icon-link;
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &:hover {
            background-color: #fce6cf;
        }

        &::before {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            top: 60%;
            transform: translate(-50%, -50%);
            width: 19px;
            height: 17px;
        }

        &--heart {
            border-bottom-left-radius: 30px;
            border-top-left-radius: 30px;

            &::before {
                background-image: url(../images/icons/heart-icon.svg);
                left: 55%;
            }
        }

        &--cart {
            left: 50%;
            border-bottom-right-radius: 30px;
            border-top-right-radius: 30px;

            &::before {
                left: 42%;
                background-image: url(../images/icons/cart-icon.svg);
            }
        }
    }

    &__box {
        margin-right: 18px;
        margin-left: 24px;
        height: 51px;
        width: 178px;
        background-color: $accent-color;
        border-radius: 30px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 1px;
            height: 32px;
            background-color: #fde7d3;
            top: 10px;
            left: 88px;

            @media (max-width: 768px) {
                left: 64px;
            }
        }

        @media (max-width: 768px) {
            margin-right: 12px;
            margin-left: 12px;
            width: 127px;
        }
    }

    &__num {
        color: $dark-grey;
        font-size: 10px;
        @extend %dmsans-400;
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #ffffff;
        top: 14px;
        right: 21px;
        text-align: center;
        line-height: 16px;

        @media (max-width: 768px) {
            right: 8px;
        }

        &--cart {
            right: 34px;

            @media (max-width: 768px) {
                right: 17px;
            }
        }
    }

    @media (max-width: 576px) {
        display: none;
    }

    &__mobile {
        display: none;

        @media (max-width: 576px) {
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        & .user-nav__link--search {
            @media (max-width: 576px) {
                margin-bottom: 15px;
                margin-left: 51px;
            }
        }
    }
}