.header {
    &__inner {
        min-height: 144px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1800px) {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: #ffffff;
            z-index: 999;
            padding: 0 20px;
            min-height: 110px;
            transition: transform .8s;

            &--active .menu__list {
                transform: translateX(0%);
            }
        }
    }

    &__logo {
        margin-right: 157px;

        @media (max-width: 1200px) {
            margin: 0;
        }
    }
}

.menu {
    padding-bottom: 5px;

    &__btn {
        display: none;

        @media (max-width: 1200px) {
            display: block;
            background-color: transparent;
            border: none;
            padding: 0;
            margin-top: 5px;
        }

        @media (max-width: 768px) {
            margin-right: 50px;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 1200px) {
            position: absolute;
            left: 0px;
            right: 0;
            top: 109px;
            display: block;
            text-align: center;
            transform: translateX(-200%);
            transition: transform .8s;
            background-color: #fff;
        }
    }

    &__item:not(:last-child) {
        margin-right: 32px;

        @media (max-width: 1200px) {
            margin: 0;
        }
    }

    &__link {
        color: #436372;
        @extend %rubik-500;
        @extend %focus;
        @extend %animation-menu;
        font-size: 15px;
        line-height: 1.25;
        padding-bottom: 1px;
        position: relative;

        @media (max-width: 1200px) {
            display: block;
            padding: 15px 0;
            margin: 0;
        }
    }
}

.user-nav {
    display: flex;
    justify-content: center;
    align-items: center;

    &__link {
        @extend %focus;
        @extend %animation-icon-link;
        position: relative;
        width: 51px;
        height: 51px;
        border-radius: 50%;
        background-color: #edf1f4;

        &::before {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &--search {
            &::before {
                background-image: url(../images/icons/icon-search.svg);
                width: 16px;
                height: 16px;

                @media (max-width: 768px) {
                    top: 60%;
                }
            }

            &:hover {
                background-color: #b0c1cf;
            }

            @media (max-width: 768px) {
                background: none;
                border: none;
            }

            @media (max-width: 576px) {
                display: none;
            }
        }

        &--icon {
            background-color: $light-grey;

            &::before {
                background-image: url(../images/icons/icon.svg);
                width: 20px;
                height: 20px;
            }

            &:hover {
                background-color: #60899f;
            }

            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    &__box-link {
        @extend %focus;
        @extend %animation-icon-link;
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &:hover {
            background-color: #fce6cf;
        }

        &::before {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            top: 60%;
            transform: translate(-50%, -50%);
            width: 19px;
            height: 17px;
        }

        &--heart {
            border-bottom-left-radius: 30px;
            border-top-left-radius: 30px;

            &::before {
                background-image: url(../images/icons/heart-icon.svg);
                left: 55%;
            }
        }

        &--cart {
            left: 50%;
            border-bottom-right-radius: 30px;
            border-top-right-radius: 30px;

            &::before {
                left: 42%;
                background-image: url(../images/icons/cart-icon.svg);
            }
        }
    }

    &__box {
        margin-right: 18px;
        margin-left: 24px;
        height: 51px;
        width: 178px;
        background-color: $accent-color;
        border-radius: 30px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 1px;
            height: 32px;
            background-color: #fde7d3;
            top: 10px;
            left: 88px;

            @media (max-width: 768px) {
                display: none;
            }
        }

        @media (max-width: 768px) {
            background: none;
            border: none;
            width: 121px;
            margin: 0;
        }
    }

    &__num {
        color: $dark-grey;
        font-size: 10px;
        @extend %dmsans-400;
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #ffffff;
        top: 14px;
        right: 21px;
        text-align: center;
        line-height: 16px;

        @media (max-width: 768px) {
            right: 7px;
            background-color: $accent-color;
        }

        &--cart {
            right: 34px;

            @media (max-width: 768px) {
                right: 15px;
            }
        }
    }
}