.pagination {
    display: flex;
    justify-content: center;

    &__list {
        display: flex;
    }

    &__item {
        border: 1px solid $light-grey;
        margin-right: 14px;
        display: flex;
        align-items: center;

        &:last-child {
            margin-right: 0;
        }

        &--previous {
            display: none;
        }
    }

    &__link {
        padding: 10px 20px 10px 20px;
        color: $dark-grey;
    }

    &__link {
        @extend %animation-button-grey;

        &:hover {
            background-color: $light-grey;
            color: #fff;
        }
    }
}