.video {
    background-color: #e6e6e6;
    height: 501px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

    @include _1200 {
        height: 350px;
    }

    @include _992 {
        height: 300px;
    }

    @include _768 {
        height: 250px;
    }

    &__link {
        @extend %focus;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        transition: border .5s;

        & path {
            transition: fill 0.5s;
        }
        
        &:hover path:nth-child(2) {
            fill: $dark-grey;
        }

        &:active path:nth-child(2) {
            fill: $accent-color;
        }
    }
}