.shop {
    padding: 109px 0 120px;

    &__inner {
        display: flex;
    }
}

.shop-sidebar {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;

    &__item {
        margin-bottom: 46px;
    }

    &__title {
        @extend %dmsans-700;
        display: block;
        font-size: 18px;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 18px;

        &::after {
            content: '';
            position: absolute;
            width: 39px;
            height: 2px;
            background-image: url('../../images/shop/title-line.svg');
            left: 111px;
            top: 15px;
        }

        &--price::after {
            left: 64px;
        }

        &--brand::after {
            left: 72px;
        }

        &--recent {
            margin-bottom: 24px;
            &::after {
                left: 187px;
            }
        }
    }
}


.shop-content {
    width: 100%;

    .products__cards {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 100px;

        &.products__cards--list {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 70px;

            &.products__cards--list + .pagination {
                justify-content: flex-start;
            }
        }
    }

    &__filters {
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__buttons {
        display: flex;
        align-items: center;
    }

    &__btn {
        padding: 5px;
        background-color: transparent;
        border: 1px solid transparent;
        @extend %focus;
        margin-left: 10px;
        cursor: pointer;
        line-height: 0;
        transition: border .5s;

        &.shop-content__btn--active path {
            fill: $accent-color;
        }
    }

    .jq-selectbox__select {
        margin-right: 30px;
        height: 32px;
        padding: 0 30px 0 0px;
        border: none;
        background: transparent;
        box-shadow: none;
        @extend %rubik-400;
        color: $dark-grey;
        text-shadow: none;
        font-size: 16px;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background: transparent;
        }
    }

    .jq-selectbox__trigger {
        border: none;
    }

    .jq-selectbox__trigger-arrow {
        border: none;
        position: absolute;
        top: 14px;
        right: 12px;
        width: 10px;
        height: 5px;
        background-image: url('../../images/shop/angle-down.svg');
    }
}