.shop-sidebar {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;

    &__btn-filter {
        display: none;
        @extend %focus;
        position: fixed;
        width: 40px;
        height: 40px;
        background-color: $accent-color;
        right: 0;
        bottom: 50px;
        z-index: 5;

        &::before {
            content: '';
            width: 15px;
            height: 15px;
            background-image: url('../../images/icon-arrow.svg');
            top: 0;
            left: 0;

        }

        @include _1200 {
            display: block;
        }
    }

    &__item {
        margin-bottom: 46px;
    }

    &__title {
        @extend %dmsans-700;
        display: block;
        font-size: 18px;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 18px;

        &::after {
            content: '';
            position: absolute;
            width: 39px;
            height: 2px;
            background-image: url('../../images/shop/title-line.svg');
            left: 111px;
            top: 15px;
        }

        &--price::after {
            left: 64px;
        }

        &--brand::after {
            left: 72px;
        }

        &--recent {
            margin-bottom: 24px;

            &::after {
                left: 187px;
            }
        }
    }

    @include _1200 {
        position: fixed;
        top: -100%;
        left: 0;
        max-width: 89%;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        z-index: 100;
        margin: 0 auto;
        padding: 20px;
        transition: top .5s;

        &.active {
            top: 0;
        }
    }
}