.experience {
    padding: 120px 0 120px;

    @media (max-width: 992px) {
        padding: 80px 0 80px;
    }

    @media (max-width: 768px) {
        padding: 50px 0 50px;
    }

    &__img {
        margin-right: 49px;
        max-width: 570px;
        max-height: 676px;

        @media (max-width: 1200px) {
            max-width: 372px;
        }

        @media (max-width: 992px) {
            display: none;
        }
    }

    &__inner {
        display: flex;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__number {
        display: flex;
        align-items: center;
        margin-bottom: 26px;
        margin-top: -20px;
    }

    &__years {
        @extend %rubik-700;
        font-size: 140px;
        line-height: 1;
        color: $light-grey;
        margin-right: 21px;
    }

    &__text {
        display: block;
        max-width: 100px;
        font-size: 16px;
        color: $dark-grey;
        margin-top: 20px;
    }

    &__title {
        @extend %dmsans-700;
        font-size: 36px;
        line-height: 1.1;
        color: $dark-grey;
        margin-bottom: 38px;

        @media (max-width: 576px) {
            font-size: 26px;
            margin-bottom: 20px;
        }
    }

    &__desc {
        font-size: 16px;
        color: $dark-grey;
        position: relative;
        margin-bottom: 85px;

        &::after {
            content: '';
            position: absolute;
            width: 500px;
            height: 2px;
            background-image: url('../../images/experience/line.jpg');
            bottom: -60px;
            left: 0;

            @media (max-width: 576px) {
                display: none;
            }
        }

        @media (max-width: 576px) {
            margin-bottom: 40px;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            margin-left: 20px;
        }

        @media (max-width: 576px) {
            display: block;
        }
    }

    &__item {
        max-width: 168px;
        width: 100%;
        position: relative;
        padding-left: 52px;
        padding: 9px 0 9px 52px;
        border-right: 1px solid #e6eaf0;

        &:last-child {
            border-right: none;
        }

        &::before {
            content: '';
            position: absolute;
            width: 37px;
            height: 38px;
            background-image: url('../../images/experience/icon-1.svg');
            background-repeat: no-repeat;
            top: 18px;
            left: -4px;

            @media (max-width: 768px) {
                top: 0px;
                left: 22px;
            }
        }

        &--revenue {
            &::before {
                width: 44px;
                height: 40px;
                background-image: url('../../images/experience/icon-2.svg');
            }
        }

        &--awards {
            &::before {
                width: 42px;
                height: 41px;
                background-image: url('../../images/experience/icon-3.svg');
            }
        }

        @media (max-width: 1800px) {
            max-width: 33%;
            margin: 0 auto;
            border: none;
        }

        @media (max-width: 768px) {
            padding-left: 0;
            padding-top: 52px;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
        }

        @media (max-width: 576px) {
            padding-left: 88px;
            padding-top: 0px;
            margin: 0;
        }
    }

    &__item-number {
        display: block;
        @extend %dmsans-700;
        color: $dark-grey;
        font-size: 36px;
        line-height: 1;

        @media (max-width: 768px) {
            font-size: 28px;
        }
    }

    &__item-text {
        @extend %dmsans-700;
        color: #4c4c4c;
        font-size: 16px;
    }
}