.team {
    padding: 118px 0 60px;

    @media (max-width: 1200px) {
        padding: 90px 0 60px;
    }

    @media (max-width: 1200px) {
        padding: 60px 0 64px;
    }

    @media (max-width: 768px) {
        padding: 60px 0 10px;
    }

    &__inner {
        display: flex;

        @media (max-width: 1200px) {
            display: block;
        }
    }

    &__desc {
        max-width: 330px;
        margin-right: 92px;
        margin-top: -10px;

        @media (max-width: 1200px) {
            max-width: 100%;
        }

        @media (max-width: 768px) {
            margin-right: 0;
        }
    }

    &__title {
        display: block;
        text-align-last: left;
        color: $dark-grey;
        margin-bottom: 5px;
    }

    &__text {
        margin-bottom: 35px;

        @media (max-width: 576px) {
            display: block;
            max-width: 100%;
        }
    }

    &__link {
        @extend %poppins-600;
        @extend %animation-button-grey;
        padding: 11px 24px 11px 15px;
        border-radius: 5px;

        @media (max-width: 1200px) {
            margin-bottom: 40px;
        }
    }

    &__arrow {
        margin-left: 16px;
    }

    &__members {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 100px;

        @media (max-width: 768px) {
            row-gap: 30px;
        }

        @media (max-width: 576px) {
            display: block;
        }
    }

    &__member {
        position: relative;

        @media (max-width: 576px) {
            margin: 0 0 25px 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__img {
        max-width: 370px;
        max-height: 320px;

        @media (max-width: 992px) {
            max-width: 350px;
        }

        @media (max-width: 768px) {
            max-width: 260px;
        }
    }

    &__content {
        position: absolute;
        min-height: 110px;
        max-width: 324px;
        width: 100%;
        padding: 0 20px;
        background-color: #ffffff;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
        display: flex;
        justify-content: space-between;
        align-items: center;;
        margin-top: -48px;

        @media (max-width: 768px) {
            margin-top: 0;
            position: static;
            display: block;
            text-align: center;
            padding: 15px;
        }

        @media (max-width: 576px) {
            max-width: 259px;
        }
    }

    &__name {
        display: block;
        @extend %dmsans-700;
        color: #436372;
        font-size: 22px;
        line-height: 1.2;
        margin-bottom: 10px;

        @media (max-width: 768px) {
            margin-bottom: 0;
        }
    }

    &__position {
        color: #565872;

        @media (max-width: 768px) {
            display: block;
            margin-bottom: 10px;
        }
    }

    &__social {
        display: flex;

        @media (max-width: 768px) {
            align-items: center;
            justify-content: center;
        }
    }

    &__item {
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }

        @media (max-width: 768px) {
            margin-right: 20px;
        }
    }

    &__social-link {
        display: block;
        width: 41px;
        height: 41px;
        background-color: #f6f6f6;
        border-radius: 50%;
        position: relative;
        @extend %animation-icon-link;

        &::before {
            content: '';
            position: absolute;
            width: 18px;
            height: 18px;
            top: 11px;
            left: 12px;
            background-image: url('../../images/instagram-icon.svg');
            background-repeat: no-repeat;
        }

        &--google {
            &::before {
                width: 23px;
                height: 15px;
                background-image: url('../../images/google-icon.svg');
                top: 13px;
            }
        }

        &:hover {
            background-color: #c9c3c3;
        }
    }
}