.top {
    padding: 22px 0 29px;
    background-color: #edf1f4;

    &__title {
        @extend %rubik-300;
        text-align: center;
        font-size: 36px;
        line-height: 1.5;
        color: #222933;
    }

    @include _1800 {
        margin-top: 110px;
    }

    @include _1200 {
        margin-top: 80px;
    }
}